.meta-info{
    color: grey;
    font-size: 14px;
}
.article{
    max-width: 700px;
    margin: 0 auto;
}
.article-image{
    text-align: center;
}
p{
    line-height: 1em;
    font-size: 21px;
}
.content-image{
    width: 50%;
    margin-top: 20px;
}